#header
{
  background-color: #276696;
  height: 44px;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3px #222;
}

#headerBanner
{
  position: absolute;
  top: 13px;
  left: 55px;
}

#headerText
{
  position: absolute;
  top: 12px;
  left: 175px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

#mainContainer {
  margin-top: 45px;
}
.loading-text {
  margin-top: 65px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.zeroBox{
  margin : 0;
  padding : 0;
}

a.lbl{
  text-decoration: none;
}

a.lbl:hover{
  text-decoration: none;
}

.form_error{
  color:red;
}

/* Bread Crumb css - start */

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    box-shadow: 10px 10px 10px 10px #8888;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: url(../assets/images/breadcrumb_sep.png);
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Bread Crumb css  - end */

.wideContainer{
  margin:0;
  width:100%;
}

tr.group {
  background-color: #cce6ff;
}



div.outputHeaderLabel h3{
  font-size: 38px;
  font-weight: bold;
}

.form-error{
  color:red;
}

.facilities-icon{
  background: url(../assets/images/facilities-icon.png) no-repeat;
  display: inline-block;
  height: 75px;
  width: 75px;
  float: left;
  background-size: 100% 100%;
  background-position: center center;    
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  margin-top: 23px;
}

.visits-icon{
    background: url(../assets/images/visitsIcon.png) no-repeat;
    display: inline-block;
    height: 75px;
    width: 75px;
    float: left;
    background-size: 100% 100%;
    background-position: center center;    
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    margin-top: 23px;
}

.ion-ios-home-outline{
  font-size: 36px;  
}

.ion-android-arrow-back{
  font-size: 52px;
}

#homeIcon{
  background-color: white;
}

#backIcon{
  background-color: white;
}


.dataTables_wrapper{
  box-shadow: 10px 10px 5px 10px #8888;
  border-radius: 25px;
}

.dt-buttons{
  padding-left: 25px;
}

.highcharts-container{
  box-shadow: 10px 10px 10px 10px #8888;
  border-radius: 25px;
}

.top-buffer{ 
  margin-top:30px;
}
