@theme-color: #605ca8;

.btn-primary{
	background-color: @theme-color;
	border-color: @theme-color;
	background : @theme-color;
}

.btn-primary:hover,.btn-primary:focus{
	background-color: @theme-color;
	border-color: @theme-color;
	background : @theme-color;
}

.label-primary{
	background-color: @theme-color !important;
}
