<div class="container" ng-controller="HomeController as vm" 
	ng-init="vm.init()">
	<div class="page-header">
		<i class="fa fa-bar-chart" aria-hidden="true"></i><span style="font-size: 20px;padding-left: 3px">EMU Analysis</span>
	</div>
	<span us-spinner ng-if="vm.isLoading"></span>
	<div class="row">
		<div class="col-md-12">
			<form>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
							<label for="select_states">Select State(s)</label>
							<div class="input-group">								
								<input 	type="text" 
										class="form-control" 
										id="select_states" 
										aria-describedby="states_addon" 
										ng-click="vm.openStatesModal()"
										ng-keypress="vm.openStatesModal()" 
										ng-model="vm.selectedStates" />	
								<span class="input-group-addon">									
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</span>
							</div>							
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
							<label for="select_district">Select District(s)</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control" 
										id="select_district" 
										aria-describedby="district_addon" 
										ng-disabled="vm.isDistrictSelectionDisabled" 
										ng-keypress="vm.openDistrictModal()"
										ng-click="vm.openDistrictModal()" 
										ng-model="vm.selectedDistricts" />	
								<span class="input-group-addon">									
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</span>
							</div>							
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="checkbox">
								<label>
          							<input type="checkbox"> National Aggregate
        						</label>
							</div>	
						</div>						
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
							<label for="select_years">Select Year(s)</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control" 
										id="years_addon" 
										ng-disabled="vm.isDistrictSelectionDisabled"
										ng-keypress="vm.openYearSelectionModal()"
										ng-click="vm.openYearSelectionModal()" 
										ng-model="vm.selectedYears" />
								<span class="input-group-addon">									
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</span>
							</div>
							
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 col-md-offset-5">
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Extract Inputs</button>	
						</div>						
					</div>
				</div>
			</form>
		</div>
	</div>
</div>