<table datatable="ng" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>{{vm.tableHeaderArray.METHOD}}</th>
			<th>{{vm.tableHeaderArray.CYP}}</th>
			<th>{{vm.tableHeaderArray.af}}</th>
			<th ng-repeat="yearlyValue in vm.tableHeaderArray.values">{{yearlyValue}}</th>			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="rowObj in vm.tableBodyArray">
			<td>{{rowObj.method}}</td>
			<td>{{rowObj.cyp}}</td>
			<td>{{rowObj.af}}</td>
			<td ng-repeat="yearlyVal in rowObj.values">{{yearlyVal}}</td>
		</tr>
	</tbody>
</table>