<div class="container wideContainer" ng-controller="InputPageController as vm" ng-init="vm.init()">
	<div class="page-header">
		<info-bread-crumb></info-bread-crumb>	
	</div>
	<span us-spinner ng-if="vm.isLoading"></span>
	
	<uib-tabset>		
		<uib-tab index="0" heading="Commodities" classes="pull-right themeApply">			
			<div class="row top-buffer">
				<div class="col-md-6"><!-- Steralization Male -->					
					<high-chart-render options="vm.columnChartOptionsArray['IND1_C']"></high-chart-render>
				</div>
				<div class="col-md-6"><!-- Steralization Female -->
					<high-chart-render options="vm.columnChartOptionsArray['IND2_C']"></high-chart-render>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-md-6"><!-- Implant -->
					<high-chart-render options="vm.columnChartOptionsArray['IND3_C']"></high-chart-render>
				</div>
				<div class="col-md-6"><!-- IUD -->
					<high-chart-render options="vm.columnChartOptionsArray['IND25_C']"></high-chart-render>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-md-6"><!-- Pills -->
					<high-chart-render options="vm.columnChartOptionsArray['IND30_C']"></high-chart-render>
				</div>
				<div class="col-md-6"><!-- Condom Consumptions -->
					<high-chart-render options="vm.columnChartOptionsArray['IND31_C']"></high-chart-render>
				</div>
			</div>
			<!-- Input data-table is renderred below -->
			<div class="row top-buffer">
				<div class="col-md-12">
					<input-data-table></input-data-table>			
				</div>
			</div>		
		</uib-tab>
		<!--uib-tab index="1" heading="Visits" classes="pull-right" disable="true"></uib-tab-->
		<uib-tab index="2" classes="pull-left" disable="true">
			<uib-tab-heading>
        		<i class="fa fa-inbox"></i> EMU Inputs
      		</uib-tab-heading>			
		</uib-tab>
	</uib-tabset>

	<div class="row top-buffer">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4" style="padding-left: 10%">
			<button class="btn btn-primary" ng-click="vm.generateOutput()">Generate EMU Output</button>
		</div>
		<div class="col-md-4">&nbsp;</div>
	</div>		
</div>