<div class="modal-header" ng-init="vm.init()">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="modal-title">Select States</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-8">&nbsp;</div>
		<div class="col-md-4">
			<input type="text"
				 	class="form-control" 
				 	ng-model="vm.searchState" 
					placeholder="Search State" ng-keyup="vm.findStatesByName()">
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<ul style="list-style: none;">
				<li ng-repeat="(stateName,flag) in vm.statesMap track by $index" style="float:left">					
					<a href="javascript:void(0)" class="lbl">
						<span 	ng-class="{'label label-default' : (flag === false), 'label label-primary' : (flag === true) }"
						 		ng-click="vm.selectState(stateName)"
						 		style="font-size: 0.8em;">
						 		<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{stateName}}
						</span>
					</a>
				</li>
			</ul>		
		</div>
	</div>
	
	
</div>

 <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
 </div>