<form class="form-horizontal" name="settingsForm" ng-init="vm.init()" ng-submit="settingsForm.$valid && vm.addSettings()" 
	novalidate>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="modal-title">Settings</h4>
	</div>

	<div class="modal-body"><!-- Modal Body -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-md-5 control-label" for="colorSettings">Select Theme</label>
					<div class="col-md-4">
						<select ng-options="theme.value as theme.label for theme in vm.themeList" 
								class="form-control" 
								ng-model="vm.selectedTheme" 
								required 
								ng-change="vm.displayColorShades()"
								id="colorSettings" 
								name="colorSettings">							
						</select>						
						<div ng-show="settingsForm.$submitted" class="form-error">
							<div ng-show="settingsForm.colorSettings.$error.required">Cannot be empty</div>	
						</div>
					</div>
					<div class="col-md-1 shadowMe" style="padding:0">
						<input type="text" class="form-control" ng-style="vm.shadeIndicator" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-5 control-label" for="showGridForGraph">Show grid lines for graphs ?</label>
					<div class="col-md-4">
						<div class="btn-group" id="showGridForGraph">
							<label class="btn btn-primary" ng-model="vm.showGridForGraph" uib-btn-radio="true">YES</label>
							<label class="btn btn-primary" ng-model="vm.showGridForGraph" uib-btn-radio="false">NO</label>
						</div>						
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-5 control-label" for="showAxisForGraph">Are Axis visible ?</label>
					<div class="col-md-4">
						<div class="btn-group" id="showAxisForGraph">
							<label class="btn btn-primary" ng-model="vm.showAxisForGraph" uib-btn-radio="true">YES</label>
							<label class="btn btn-primary" ng-model="vm.showAxisForGraph" uib-btn-radio="false">NO</label>
						</div>						
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-5 control-label" for="showLabelForGraph">Are Labels visible ?</label>
					<div class="col-md-4">
						<div class="btn-group" id="showLabelForGraph">
							<label class="btn btn-primary" ng-model="vm.showLabelForGraph" uib-btn-radio="true">YES</label>
							<label class="btn btn-primary" ng-model="vm.showLabelForGraph" uib-btn-radio="false">NO</label>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div><!-- Modal Body -->

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
	</div>	
</form>
