<div class="container wideContainer" ng-controller="OutputPageController as vm" ng-init="vm.init()">
	<div class="page-header">
		<info-bread-crumb></info-bread-crumb>	
	</div>
	<span us-spinner ng-if="vm.isLoading"></span>
	<div class="row">		
		<div class="col-md-6">
			<div class="small-box bg-green dropShadowBox">
				<div class=inner>
					<h3>{{vm.emuFacilitiesForLatestYear}}%</h3>
					<p>EMU Commodities</p>								
				</div>
				<div class="icon">
					<i class="facilities-icon" style="background-size:100%"></i>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="small-box bg-red dropShadowBox">
				<div class=inner>
					<h3>0%</h3>
					<p>EMU Visits</p>								
				</div>
				<div class="icon">
					<i class="visits-icon" style="background-size:100%"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-6">
			<high-chart-render options="vm.chartOptions.estimatedModernMethodMixCommodities"></high-chart-render>
		</div>
		<div class="col-md-6">
			<high-chart-render options="vm.chartOptions.modernMethodMix"></high-chart-render>
		</div>
	</div>
	<uib-tabset>
		<uib-tab index="0" heading="Commodities" classes="pull-right themeApply">
			<div class="row top-buffer">
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.usersTrendByMethodsForCommodities"></high-chart-render>
				</div>
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.comparingSlopesForCommodities"></high-chart-render>
				</div>
			</div>
			<!-- div class="row top-buffer">
				<div class="col-md-12">
					<high-chart-render options="vm.chartOptions.commoditiesStockoutByMonth"></high-chart-render>
				</div>
			</div -->
			<div class="row top-buffer" ng-if="vm.isChartDataLoaded === true">
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.totalSterilisation"></high-chart-render>
				</div>
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.proportionOfSterilisation"></high-chart-render>
				</div>
			</div>			
			<div class="row top-buffer" ng-if="vm.isChartDataLoaded === true">
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.totalIUCD"></high-chart-render>
				</div>
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.proportionOfIUCD"></high-chart-render>
				</div>
			</div>			
			<div class="row top-buffer" ng-if="vm.isChartDataLoaded === true">
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.ocpUsers"></high-chart-render>
				</div>
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.injectableMPA"></high-chart-render>
				</div>
			</div>			
			<div class="row top-buffer" ng-if="vm.isChartDataLoaded === true">
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.discontinuationRates"></high-chart-render>
				</div>
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.sterilisationPer1000EC"></high-chart-render>
				</div>
			</div>
			<div class="row top-buffer" ng-if="vm.isChartDataLoaded === true">
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.adverseEventToSterilisation"></high-chart-render>
				</div>
				<div class="col-md-6">
					<high-chart-render options="vm.chartOptions.acceptanceRate"></high-chart-render>
				</div>				
			</div>
			<div class="row top-buffer">
				<div class="col-md-12">
					<output-data-table data="vm.outputTableData"></output-data-table>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Visits" classes="pull-right" disable="true">
			<p>Tab Two</p>
		</uib-tab>
	</uib-tabset>	
</div>