<!doctype html>
<html ng-app="EMU">

<head>
    <meta charset="utf-8">
    <title>EMU Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->    
    <!-- endbuild -->            
    <link href="app/main.less" rel="stylesheet/less">    
</head>

<body ng-cloak class="ng-cloak" ng-controller="HeaderController as vm" ng-class="vm.theme">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    


    <header class="main-header">
            <!-- a href="javaScript:void(0)" class="pull-left" id="homeIcon" ng-if="!isFirstPage" ng-click="vm.goToHome()">
                <i class="ion-ios-home-outline"></i>
            </a -->
            <a href="javaScript:void(0)" class="pull-left" id="backIcon" ng-if="isBackNavigation" ng-click="vm.goBack()">
                <i class="ion ion-android-arrow-back"></i>
            </a>
            <img src="assets/images/track-20.png" class="pull-left" style="height:52px;background-color: white !important;" />
            

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">              
              
              <!-- Navbar Right Menu -->
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  
                  <!-- User Account Menu -->
                    <li class="dropdown user user-menu">                        
                        <!-- Menu Toggle Button -->
                        <a href="javaScript:void(0)" class="dropdown-toggle" data-toggle="dropdown" style="padding:0;margin:0">
                          <!-- The user image in the navbar-->
                          <img src="assets/images/logo.png" style="height:50px;background-color: white !important" />                      
                        </a>                    
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a  href="javaScript:void(0)" 
                            data-toggle="control-sidebar" 
                            ng-click="vm.popupSettings()"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header bar-->
    
    <div class="row" style="padding-top: 5%;">
        <div class="col-md-12">                
                <div ui-view></div>
        </div>            
    </div>

    
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->
    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
    
</body>

</html>
